<h1>Listado de Heroes</h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button routerLink="/hero/new" routerLinkActive="router-link-active" class="btn btn-primary">
            <i class="fa fa-plus"></i>Agregar
        </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn animated fadeIn fast">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Vivo</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>name</td>
            <td>power</td>
            <td>
                <label>Vivo o muerto</label>
            </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>name</td>
          <td>power</td>
          <td>
            <label>Vivo o muerto</label>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>name</td>
          <td>power</td>
          <td>
            <label>Vivo o muerto</label>
          </td>
        </tr>
    </tbody>
</table>
